@model WebClient.ViewModels.ShippingAddressViewModel

<div id="deliveryModal" class="delivery-information-modal">
    <div class="delivery-information-modal-content">
        <span class="delivery-information-modal-close">&times;</span>
        <h4>ADD NEW ADDRESS</h4>
        <div class="container-delivery-modal">
            <div class="delivery-item delivery-username">
                <label>Full Name</label>
                <input class="delivery-input-text" placeholder="Full Name" />
            </div>
            <div class="delivery-item delivery-phonenumber">
                <label>Phone Number</label>
                <input class="delivery-input-text" placeholder="Phone Number" />
            </div>
            <div class="delivery-item delivery-city">
                <label>City</label>
                <select id="citySelect" class="delivery-input-text" name="SelectedCity">
                    @if(Model.Cities != null)
                    {
                        @foreach (var city in Model.Cities)
                        {
                            <option value="@city.Codename">@city.Name</option>
                        }
                    }
                    else
                    {
                        <option >None</option>
                    }

                </select>
            </div>
            <div class="delivery-item delivery-district">
                <label>District</label>
                <select id="districtSelect" class="delivery-input-text" name="SelectedDistrict"></select>
            </div>
            <div class="delivery-item delivery-ward">
                <label>Ward</label>
                <select id="wardSelect" class="delivery-input-text" name="SelectedWard"></select>
            </div>
            <div class="delivery-item delivery-streetaddress">
                <label>Street Address</label>
                <input class="delivery-input-text" placeholder="Street Address" />
            </div>
        </div>
    </div>
</div>

