@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
    ViewData["Title"] = "View";
}

<div class="container-body page-container">
    @*@Html.Partial("_BreadCrumb")*@
    <div class="container-product-detail">
        <div class="product-detail-img">
            <img src="https://d1c63njxta1zb2.cloudfront.net/item-images/1486064194264_24_L" />
        </div>
        <div class="hero-product-detail">
            <div class="product-detail-content">
                <p>PRODUCT NAME</p>
                <p>$18.00</p>
                <p>ME223343</p>
                <p>
                    We take pride in offering a wide selection of high-quality bird food to cater to the discerning palates of
                    your beloved pet birds. Our carefully curated collection includes a diverse range of nutritious options,
                    including a variety of seeds, specially formulated bird pellets, and delectable treats.
                </p>
            </div>
           <div class="hero-product-detail-atc-btn">
                <button class="product-detail-atc-btn" role="button">Button 30</button>
           </div>
        </div>
    </div>
</div>

<!-- HTML !-->

