@model WebClient.ViewModels.FoodViewModel

@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
    ViewData["Title"] = "View";
}

<div class="container-body page-container">
    @Html.Partial("_BreadCrumb")
    <div class="best_seller-container">
        <div class="hero-content">
            <div class="item-text-page">
                <p>Food</p>
            </div>
            <div class="desc-text">
                <p>
                    We take pride in offering a wide selection of high-quality bird food to cater to the discerning palates of
                    your beloved pet birds. Our carefully curated collection includes a diverse range of nutritious options,
                    including a variety of seeds, specially formulated bird pellets, and delectable treats.
                </p>
            </div>
            @Html.Partial("_TopContainer")
        </div>
        <div id="foodContainer" class="grid-view-meal">
            @foreach (var item in Model.Products)
            {
                @Html.Partial("_ListProduct", item)
            }
        </div>
        <div id="errorImage" class="img-none-result-search">
            <img src="https://firebasestorage.googleapis.com/v0/b/groupprojectprn.appspot.com/o/home-images%2FnoneResult.png?alt=media&token=221fd545-b840-424e-8ffe-a42fdc77c2ff" alt="Error Image" />
        </div>
    </div>
</div>