@model WebClient.ViewModels.MealViewModel

@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
    ViewData["Title"] = "View";
}

<div class="container-body page-container">
    @Html.Partial("_BreadCrumb")
    <div class="best_seller-container">
        <div class="hero-content">
            <div class="item-text-page">
                <p>Meal</p>
            </div>
            <div class="desc-text">
                <p>
                    Our Meal is specifically designed to meet the diverse nutritional needs of different bird species.
                    We ensure a balanced blend of essential nutrients such as protein, fiber, vitamins, and minerals to support overall development,
                    good health, and flourishing vitality in your cherished feathered companions.
                </p>
            </div>
            @Html.Partial("_TopContainer")
        </div>
        <div class="grid-view-meal">
            @foreach (var item in Model.Meals)
            {
                @Html.Partial("_ListMeal", item)
            }
        </div>
    </div>
</div>

