@model WebClient.ViewModels.MealViewModel

@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
    ViewData["Title"] = "View";
}

<div  class="container-body page-container">
    @Html.Partial("_BreadCrumb")
    <div class="best_seller-container">
        <div class="hero-content">
            <div class="item-text-page">
                <p>Meal</p>
            </div>
            <div class="desc-text">
                <p>
                    Our Meal is specifically designed to meet the diverse nutritional needs of different bird species.
                    We ensure a balanced blend of essential nutrients such as protein, fiber, vitamins, and minerals to support overall development,
                    good health, and flourishing vitality in your cherished feathered companions.
                </p>
            </div>
            @Html.Partial("_TopContainer")
        </div>
        <div id="mealContainer" class="grid-view-meal">
            @foreach (var item in Model.Meals)
            {
                @Html.Partial("_ListMeal", item)
            }
        </div>
        <div id="errorImage" class="img-none-result-search">
            <img src="https://firebasestorage.googleapis.com/v0/b/groupprojectprn.appspot.com/o/home-images%2FnoneResult.png?alt=media&token=221fd545-b840-424e-8ffe-a42fdc77c2ff" alt="Error Image" />
        </div>     
    </div>
</div>

