@model WebClient.ViewModels.SearchViewModel

@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
    ViewData["Title"] = "Search";
}

<div class="container-body page-container">
    <div class="best_seller-container">
        <div class="hero-content">
            <div class="item-text-page">
                <p>Result for searching: </p>
            </div>
        </div>
        <div class="grid-view-meal">
            @if (Model.Meals.Count > 0)
            {
                foreach (var item in Model.Meals)
                {
                    @Html.Partial("_ListMeal", item)
                }
            }
            @if (Model.Products.Count > 0)
            {
                foreach (var item in Model.Products)
                {
                    @Html.Partial("_ListProduct", item)
                }
            }

        </div>
    </div>
</div>

