@font-face {
    font-family: 'proxima-nova';
    src: url("~/font/proximanova-black.woff") format('woff'),
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif;
}
* p , h5{
    margin: 0;
}
/*============================= breadcrumb =======================*/
.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 50px 0 10px 0;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li:not(:last-child):after {
    content: "/";
    margin: 0 5px;
    color: #999999;
}

.breadcrumb li a {
    color: #000000;
    text-decoration: none;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

/*============================= Banner 1 =======================*/

.banner-text {
    width: 35rem;
    position: absolute;
    top: 35%;
    left: 28%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

.banner-text p{
    font-weight: 300;
}

.title {
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: bolder;
}

.banner-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.banner-image {
    display: block;
    width: 100%;
    height: auto;
}



.button.outlined--white {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 40px;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.hero__banner__button{
    margin-top: 5%;
}
/*============================= body container =======================*/
.button.outlined--white:hover {
    background-color: white;
    color: #538a50;
}

.container-body{
    padding: 0 10em 5em 10em;
}
.item-text {
    padding: 60px 0 10px 0;
}
.item-text p {
    font-size: 30px;
    font-weight: bold;
}
/*============================= grid bird =======================*/

.grid-view-bird {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    height: 90%;
}

.grid-item-bird {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.grid-item-bird img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-content-bird {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.grid-item-bird:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    z-index: 1;
    cursor: pointer;
}


/*============================= grid meal =======================*/

.grid-view-meal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.grid-item-meal {
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.a-text-link {
    text-decoration: none;
    color: black;
}

.grid-item-meal:hover {
   transform: scale(1.02)
}
.item-image {
    height: 259px;
}
.item-image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-details {
    padding: 10px 0;
    position: relative;
    top: 0;
    left: 2%;
}
.item-details h5{
    color: #444444;
    letter-spacing: .02em;
    font-size: 16px;
    height: 3vh;
    font-weight: 600;
}
.item-details p{
    margin: 0;
    font-weight: 600;
}
.item-details p i{
    margin-right: 1%;
}
/*============================= banner 2 =======================*/

.banner-text-second {
    width: 35rem;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 20px;
}

.banner-text-second p {
    font-weight: 300;
}

.button.outlined--black {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 40px;
    color: black;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.button.outlined--black:hover {
   background-color: black;
   color: white;
}


/*============================= banner 3 =======================*/
.banner-container-small{
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8em;
}
.banner-image-small {
    display: block;
    width: 50%;
    height: auto;
}
.banner-image-small img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-text-small{
    width: 50%;
    height: auto;
    
}
.banner-text-small p{
    font-size: 20px;
}

/*============================= Btn add to cart =======================*/
.button-atc {
    position: relative;
    top: 0%;
    left: 2%;
    --background: #362a89;
    --text: #fff;
    --cart: #fff;
    --tick: var(--background);
    border: none;
    background: none;
    padding: 8px 28px;
    border-radius: 8px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    min-width: 144px;
    color: var(--text);
    background: var(--background);
    transform: scale(var(--scale, 1));
    transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
}

.button-atc:active {
    --scale: 0.95;
}

.button-atc span {
    font-size: 14px;
    font-weight: 500;
    display: block;
    position: relative;
    padding-left: 24px;
    margin-left: -8px;
    line-height: 26px;
    transform: translateY(var(--span-y, 0));
    transition: transform 0.7s ease;
}

.button-atc span:before,
.button-atc span:after {
    content: '';
    width: var(--w, 2px);
    height: var(--h, 14px);
    border-radius: 1px;
    position: absolute;
    left: var(--l, 8px);
    top: var(--t, 6px);
    background: currentColor;
    transform: scale(0.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
    transition: transform 0.65s ease 0.05s;
}

.button-atc span:after {
    --w: 14px;
    --h: 2px;
    --l: 2px;
    --t: 12px;
}

.button-atc .cart {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -13px 0 0 -18px;
    transform-origin: 12px 23px;
    transform: translateX(-120px) rotate(-18deg);
}

.button-atc .cart:before,
.button-atc .cart:after {
    content: '';
    position: absolute;
}

.button-atc .cart:before {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px var(--cart);
    bottom: 0;
    left: 9px;
    filter: drop-shadow(11px 0 0 var(--cart));
}

.button-atc .cart:after {
    width: 16px;
    height: 9px;
    background: var(--cart);
    left: 9px;
    bottom: 7px;
    transform-origin: 50% 100%;
    transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
    transition: transform 1.2s ease var(--fill-d);
}

.button-atc .cart svg {
    z-index: 1;
    width: 36px;
    height: 26px;
    display: block;
    position: relative;
    fill: none;
    stroke: var(--cart);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.button-atc .cart svg polyline:last-child {
    stroke: var(--tick);
    stroke-dasharray: 10px;
    stroke-dashoffset: var(--offset, 10px);
    transition: stroke-dashoffset 0.4s ease var(--offset-d);
}

.button-atc.loading {
    --scale: 0.95;
    --span-y: -32px;
    --icon-r: 180deg;
    --fill: 1;
    --fill-d: 0.8s;
    --offset: 0;
    --offset-d: 1.73s;
}

.button-atc.loading .cart {
    animation: cart 3.4s linear forwards 0.2s;
}

@keyframes cart {
    12.5% {
        transform: translateX(-60px) rotate(-18deg);
    }

    25%,
    45%,
    55%,
    75% {
        transform: none;
    }

    50% {
        transform: scale(0.9);
    }

    44%,
    56% {
        transform-origin: 12px 23px;
    }

    45%,
    55% {
        transform-origin: 50% 50%;
    }

    87.5% {
        transform: translateX(70px) rotate(-18deg);
    }

    100% {
        transform: translateX(140px) rotate(-18deg);
    }
}

/*========================================= Meal page =========================================*/

.page-container{
    margin-top: 7em;
}

.item-text-page {
    padding: 0;
}

.hero-content{
    margin-bottom: 2em;
}

.item-text-page p {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: .01em;
}

.desc-text p{
    font-size: 17px;
    font-weight: 400;
}

.hero-filter{
    margin: 3.5em 0;
}

.btn-filter {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-filter p{
    margin: 0;
    font-size: 15px;
    font-weight: 700;
}
.btn-filter i{
    font-size: 20px;
}


#filterTable {
    left: 0;
    padding: 10px 0 10px 10em;
    width: 100%;
    margin-top: 10px;
    position: absolute;
    background-color: #fff;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.btn-filter:hover {
    cursor: pointer;
}

#filterTable h4 {
  margin-top: 0;
  font-size: 15px;
  font-weight: 700;
}

#applyFilterButton {
  margin-top: 10px;
}


.btn-apply-filter {
    margin-right: 11em;
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-apply-filter:hover {
    background-color: rgb(249,250,251);
}

.btn-apply-filter:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.btn-apply-filter:focus-visible {
    box-shadow: none;
}

/*================================================== details page ============================================*/

.container-product-detail{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 3em;
    margin-top: 5rem;
}

.product-detail-img img {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.hero-product-detail {
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.product-detail-content h2 {
    letter-spacing: .1em;
    font-weight: 500;
    font-size: 2.4em;
}

.product-detail-content p:nth-child(2) {
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: .03em;
    margin-bottom: .3em;
}
.product-detail-content p:nth-child(3) {
    font-size: .9em;
    color: gray;
    font-weight: bold;
    margin-bottom: 2em;
    letter-spacing: .02em;
}
.product-detail-content p:nth-child(4) {
    max-width: 540px;
    height: 200px;
    letter-spacing: .02em;
    font-size: 15px;
    font-weight: 400;
}


.hero-product-detail-atc-btn{
    display:flex;
    gap: 2em;
}

.hero-btn-plus-minus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
}
.btn-plus-minus-count {
    height: 5vh;
    margin-top: 3px;
    text-align: center;
    width: 3em;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.btn-plus-minus-count::-webkit-outer-spin-button,
.btn-plus-minus-count::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-plus-minus {
    width: 50px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
    font-weight: bold;
}

.btn-plus-minus:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btn-plus-minus:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn-plus-minus:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}



.product-detail-atc-btn {
    width: 18em;
    align-items: center;
    appearance: none;
    background-color: #362a89;
    color: #f4f4f4;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#0c024d 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
    font-weight: 600;
}

    .product-detail-atc-btn:focus {
        box-shadow: #0c024d 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0c024d 0 -3px 0 inset;
    }

    .product-detail-atc-btn:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0c024d 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .product-detail-atc-btn:active {
        box-shadow: #0c024d 0 3px 7px inset;
        transform: translateY(2px);
    }

.product-detail-under-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.item-text-detail {
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    width: 12em;
    font-size: 1.3em;
}
.item-text-detail p{
    font-weight: bolder;
    margin: 0; 
}

.grid-view-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5em;
}
.line {
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
}

.text-ingredient p {
    letter-spacing: .08em;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.list-item-ingredient {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}


.item-ingredient p {
    text-align: start;
    font-size: 14px;
    font-weight: 600;
    margin: .6em .9em;
}

.item-ingredient {
    max-width: fit-content;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 1px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin-bottom: .5em;
    padding: .4em .6em;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 1px solid #d3d3d3;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.item-ingredient:hover {
    box-shadow: #121212 0 0 0 1px, transparent 0 0 0 0;
}

/*============================= check output =====================================*/
.container-checkout-body{
    padding: 0 3em 3em 3em;
}
.cart-container {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    gap: 2%;
    padding: 2%;
    border-radius: 10px;
}

.checkout-text h4{
    font-weight: 600;
    letter-spacing: 0.02em;
}

.hero-cart {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 5%;
}

.table-list-cart-item {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.table-cart-header {
    padding: 0 4% 0 6%;
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: 5vh;
    border-bottom: 1px solid #d3d3d3;
}
.table-cart-header p{
    font-weight: 600;
    margin: 0;
    font-size: 15px;
    letter-spacing: .05em;
}
.table-cart-header p:nth-child(1){
    width: 30%;
}
.table-cart-body {
    padding: 1em 0.3em;
    height: 55vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 1em;
}

.cart-item {
    display: flex;
    border-radius: 5px;
    padding: .5em .1em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    transition: transform .1s;
    justify-content: space-between;
}

.cart-item:hover{
    transform: scale(1.007);
}

.cart-item img {
    width: 100px;
    height: 100px;
}
.cart-item-content-main{
    width: 42%;
    display: flex;
}
.cart-item-content {
    position: relative;
    left: 0;
    top: 10%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.cart-item-content h5 {
    font-size: 18px;
    font-weight: 600;
}
.cart-item-content p{
    color: #8a8a86;
    font-size: 14px;
    font-weight: 400;
}
.cart-item-content-money{
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delivery-container {
    width: 33%;
}
